<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <form method="post" action="/check-user">
            <input type="text" placeholder="Имя пользователя" name="username">
            <button type="submit">Поиск</button>
        </form>
        
        <div>
            <a href="/">Главная</a>
            <a href="/about">О нас</a>
        </div>

        <h2>DanBook</h2>
    </header>
</body>
</html>