<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <%- include("block/header") -%>
    
    <main>
        <img src="https://s0.rbk.ru/v6_top_pics/media/img/5/97/756351709057975.jpg">

        <h1>О нас:</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident natus sunt aliquid veritatis facilis quas ratione, atque assumenda a nobis beatae inventore enim itaque, perferendis aut dolores odio ea laudantium placeat. Quae impedit aspernatur numquam repellendus optio sed autem velit asperiores.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores iusto excepturi officiis. Facilis repellendus ab tenetur tempore, molestias atque quibusdam fuga at beatae alias vitae. At debitis quia nulla inventore!</p>
    </main>
</body>
</html>