<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DanBook</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("block/header") -%>

   <main>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur explicabo provident vero accusamus. Repellendus quos quidem, consequuntur incidunt saepe veniam adipisci laboriosam? Praesentium earum eaque velit labore fugiat doloremque, ab reiciendis, sed modi doloribus sit, dolor quo tempore numquam? Quisquam nam vel sapiente. Reprehenderit commodi ipsa nisi enim facilis consectetur blanditiis doloribus.</p>
   </main>

</body>
</html>