@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #1a1818;
    color: white;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}

.about-user h2 {
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 5px;
    font-size: 28px;
}

.about-user p {
    padding-left: 100px;
    font-size: 10px;
} 

.hobby-max {
    padding-left: 100px;
}

.hobby-max h3 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 24px;
}

.hobby-max span {
    margin-right: 7px;
}